<header>
  <h1>Gmail</h1>
</header>
<main>
  <div class="objects">
    <% Email.all.each do |e,i| %>
      <p><%= link_to e.object, my_method_email_path(id: e.id), remote: true%></p>
      <hr>
    <% end %>
  </div>

  <div class="bodies">

  </div>
</main>
