// Place all the styles related to the Email controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  font-family: arial, sans-serif;
}

header {
  background-color: rgb(231, 72, 3);
}

h1 {
  margin: 0;
  padding: 15px;
  color: white;
}

main {
  display: flex;
  justify-content: space-between;
}

.objects {
  border: 1px solid rgba(0,0,0,0.5);
  width: 120px;
}

.objects a {
  color: rgba(0,0,0,1);
  text-decoration: none;
  padding-bottom: 5px;
  padding : 15px;
}

.objects a:hover {
  text-decoration: underline;
}

.objects p {
  padding: 10px 0px;
}

.bodies {
  text-align: center;
  width: 100%;
  padding: 20px;
}

.bodies a {
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  background-color: rgb(187, 17, 0);
  color: white;
}

h2 {
  padding-left: 10px;
  text-align: left;
}

hr {
  margin: 0;
}
